<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>{{ config["TITLE"] }}</title>
  {% endblock %}
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">{{ config["TITLE"] }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
	  <div class="navbar-collapse collapse" id="navbarNav">
			  <ul class="navbar-nav">
				<li class="nav-item">
						<a class="nav-link" href="/">Dashboard</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="/settings">Settings</a>
				</li>
			  </ul>
	  </div>
	  {% block navbar %}{% endblock %}
  </nav>
  <div class="container">
    {% if current_user.is_authenticated %}
    <h4 class="mt-2 text-right">
      Hi, {{current_user.name}}! <a href="/logout">Not you?</a>
    </h4>
    {% endif %}
    {% block content %}{% endblock %}
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div id="modal-content" class="modal-content">
        </div>
      </div>
    </div>
    {% block footer %}{% endblock %}
  </div>

  <script src="/static/jquery-3.5.0.min.js"></script>
  <script src="/static/popper.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/script.js"></script>
</body>

</html>
