{% from 'bootstrap/wtf.html' import form_field %}
{% extends "base.html" %}
{% block content %}
<div class="card bg-light my-3">
	<div class="card-header">
		<h5>search</h5>
	</div>
	<div class="card-body">
		<form class="mt-2 mx-auto" action="/history" method="POST">
			{{ form.csrf_token }}
			{{ form_field(form.start) }}
			{{ form_field(form.end) }}
			<button type="submit" class="btn btn-primary btn-lg btn-block">search</button>
		</form>
	</div>
</div>

<div class="card bg-light my-3">
	<div class="card-header">
		<h5>results</h5>
	</div>
	<div class="card-body overflow-auto">
		<table class="table table-hover">
			<thead>
					<th scope="col">time</th>
					<th scope="col">type</th>
					<th scope="col">value</th>
					<th scope="col">guinea pigs</th>
					<th scope="col">person</th>
			</thead>
			<tbody>
				{% for date, type, value, guinea_pigs, user in entries %}
				<tr>
					<th scope="row">{{ date.strftime("%Y-%m-%d %H:%M %p") }}</th>
					<th>{{ type }}</th>
					<th>{{ value }}</th>
					<th>{{ guinea_pigs }}</th>
					<th>{{ user }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
