{% extends "base.html" %}
{% block navbar %}
<form class="form-inline" action="vitaminc">
  {% if request.args.get("older") %}
  <input type="hidden" name="older" value="1">
  {% endif %}
  <button class="btn btn-secondary mr-2" type="submit">&plus; vitamin c</button>
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addFood">&plus; add</button>
</form>
{% endblock %}
{% block content %}
<p class="mt-2 text-right">
  Hi, {{request.cookies["name"]}}! <a href="/removename">Not you?</a>
</p>
{% for day, foods in entries.items() %}
<h3 class="mt-2">{{ day }}</h3>
<div class="list-group list-group-flush">
  {% for food in foods %}
  <div class="list-group-item d-flex w-100 justify-content-between px-0">
    <div class="w-100">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 align-self-center">{{ food["name"] }}</h5>
        <p class="small align-self-start mb-0">{{ food["time"].strftime("%l:%M %p") }} by {{ food.get("person", "Someone") }}</p>
      </div>
      {% if food.get("notes") %}
      <p class="mb-0">
        <em>
          {{ food["notes"] }}
        </em>
      </p>
      {% endif %}
    </div>
    <form class="align-self-start" action="/delete" method="post">
      <input type="hidden" name="id" value="{{ food["_id"] }}">
	  {% if request.args.get("older") %}
	  <input type="hidden" name="older" value="1">
	  {% endif %}
	  <button type="submit" style="font-size: 1.8rem;text-decoration: none;"
        class="btn p-0 ml-1 btn-lg btn-link text-danger">&times;</button>
    </form>
  </div>
  {% endfor %}
</div>
{% else %}
<h4 class="text-center mb-4">
  no food yet &gt;:(
</h4>
<img src="/static/hangry.png" width="500px" class="mx-auto img-fluid d-block mx-auto"
  alt="Blurry image showing an Abyssian and American Guinea pig excited behind cage grids">
{% endfor %}
<form class="text-center mt-3">
  {% if not request.args.get("older") %}
  <input type="hidden" name="older" value="1">
  <button type="submit" class="btn btn-primary">
    &leftarrow; last week
    {% else %}
    <button type="submit" class="btn btn-secondary">
      today &rightarrow;
      {% endif %}
    </button>
</form>
{% endblock %}
{% block footer %}
{{ super() }}
<div class="modal fade" id="addFood" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add food</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/submit" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="food">Food</label>
            <select class="custom-select" id="food" name="name">
              <option></option>
              {% for food in food_options %}
              <option value="{{ food }}">{{ food }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" name="notes" id="notes"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">&plus; Add</button>
          <button class="btn btn-danger" data-dismiss="modal">&times; Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
