{% extends "base.html" %}
{% block navbar %}
<form class="form-inline" action="vitaminc">
  <button class="btn btn-secondary mr-2" type="submit">&plus; Vitamin C</button>
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addFood">&plus; Add</button>
</form>
{% endblock %}
{% block content %}
    <p class="mt-2 text-right">
      Hi, {{request.cookies["name"]}}! <a href="/removename">Not you?</a>
    </p>
    <div class="list-group list-group-flush">
      {% for food in foods %}
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ food["name"] }}</h5>
        <small>{{ food["time"].strftime("%l:%M %p") }} by {{ food.get("person", "Someone") }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">Qty: {{ food["quantity"] }}</p>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{ food["_id"] }}">
          <button type="submit" class="btn btn-danger">&times;</button>
        </form>
        </div>
      </div>
      {% else %}
        <h4 class="text-center mb-4">
        no food yet &gt;:(
        </h4>
        <img src="/static/hangry.png" width="500px" class="mx-auto img-fluid" alt="Blurry image showing an Abyssian and American Guinea pig excited behind cage grids">
      {% endfor %}
    </div>
{% endblock %}
{% block footer %}
{{ super() }}
    <div class="modal fade" id="addFood" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/submit" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="food">Food</label>
						<select class="custom-select" id="food" name="name">
              <option></option>
              {% for food in food_options %}
							<option value="{{ food }}">{{ food }}</option>
							{% endfor %}
						</select>
						<label for="quantity">Quantity (per guinea pig)</label>
						<input class="form-control" min="0" type="number" name="quantity" id="quantity">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">&plus; Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">&times; Cancel</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
